<!-- <nav class="navbar navbar-default navbar-fixed-top">
</nav>
 -->
<div class="navbar-cool navbar-cool-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-cool-brand">
    <%= image_tag "" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-cool-right hidden-xs hidden-sm">

    <!-- Profile picture and dropdown -->
    <div class="navbar-cool-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-cool-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-cool-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-cool-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cool-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
