<h1>lounge#index.html.erb</h1>
<% @lounges.each do |l| %>
  <div class= "flex">
    <%= link_to lounge_path(l) do %>
      <div class="flex">
        <p>lounge: <%= l.name %></p>
        <p>manager: <%= l.user.fname %></p>
      </div>
    <% end %>
  </div>
<% end %>
