<div class="container">
<div class="lounge-container">
  <h1>lounge#index.html.erb</h1>

    <% @lounges.each do |l| %>
      <div class="lounge-index-flex">
        <div class="lounge-index-body">
          <%= link_to lounge_path(l), class: "no-decor" do %>
            <h4><%= l.name + " " + "(" + l.city + ")" %></h4>
          <% end %><!-- end of link path-->
        </div><!--end of lounge body-->
        <div class="lounge-index-action">
          <p>action</p>
        </div><!--end of lounge action-->
      </div><!--end of flexbox-->
    <% end %><!--end of @lounges-->

</div><!--end of container-->
</div>
