<div class="container">
  <div class="shell-con-sm shell-design">
    <div class="flex flex-center">
      <h3 class="create-lounge">Register a new lounge</h3>
    </div><!--end of flex-->
      <div class="back-btn flex flex-center">
        <%= link_to dashboard_path do %>
          <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
        <% end %>
      </div><!--end dashboard-btn-->
    <hr>
    <%= render 'lounges/new_lounge_form' %>
  </div>
</div>
