<div>
  <%= simple_form_for([bev, @order]) do |f| %>
    <%= f.input :quantity, label: false, placeholder:"quantity" %>
    <%= f.input :zone, label: false, placeholder:"select zone" %>
    <%= f.input :duration, collection: [10,15,20,30], prompt:"intervals in minutes", label: false %>
  <% end %>
</div>
