<div class="banner" style='background-image: linear-gradient(180deg, rgba(0,101,168,0.40) 0%, rgba(0,36,61,0.45) 50%), url("<%= image_path '0011.jpg' %>");'>

  <div class="lounges-btn btn btn-primary flex">
    <%= link_to "lounge", lounges_path %>
  </div><!--end lounges-btn-->

</div>
