.lounge-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0.5px 0.5px 4px #a8a8a8;
}

.lounge-index-flex{
  display: flex;
  // justify-content:space-between;
  // align-items: center;
  position: relative;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 9px #a8a8a8;
}

.lounge-index-body{
  flex: 1 auto;
  padding: 20px;
  // text-align: center;
}

.lounge-index-action{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

// show page
.bev-div{
  display: flex;
  // // ^^ needed to keep the entire div inline
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid #606060;
  border-top: 1px solid #606060;
  // margin: 10px;*
  // padding: 5px;*
}
.bev-head > h2{
  margin-top: 0;
}
.bev-path-link{
  // display: flex;
  // // ^^ needed to keep the head, body, cost inline
  // justify-content: space-between;
  // align-items: center;
}

.bev-body{
  // flex: 1 0 auto;
  // ^ this allows the box to expand the length of the phrase without paragragh breaks. one long continuous phrase(not good)
  padding: 10px;
}

.bev-cost{
  // flex: 0 0 20%;
}
.bev-action{
  // display: flex;
  // justify-content: space-between;
  align-items: center;
}

