.receipt-shell{
  padding: 10px;
}

.receipt-div{
  margin-top: 6px;
  padding: 6px;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0.5px 0.5px 4px #a8a8a8;
}

.receipt-div-box{
  margin-top: 3.5px;
  padding: 1px;
  border: 1px solid white;
  box-shadow: 0.5px 0.5px 4px #a8a8a8;
}
