// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


body{
  background-color: rgb(249,249,249);
  color: rgb(15,15,15);
  text-decoration: none;
}

li{
  list-style: none;
}

.shell-con{
  max-width: 800px;
}

.shell-con-sm{
  max-width: 400px;
}

.shell-design{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0.5px 0.5px 4px #a8a8a8;
  font-family: 'Lato', sans-serif;
}

.margin{
  margin-top: 60px;
}

.top-bottom-buffer{
  margin-top: 10px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: #1C1C1C;
}

a:hover{
  text-decoration: none;
  color: #1C1C1C;
}

.flex{
  display: flex;
}

.space-b{
  justify-content: space-between;
}
.space-a{
  justify-content: space-around;
}

.flex-center{
  justify-content: center;
}

.w-auto-100{
  width: 100%;
}

.btn-primary{
  background: $brand-color;
  border-color: $brand-color;
  color: rgb(15,15,15);
}

.btn-primary:hover{
  // background: #682626;
  // border-color: #682626;
  color: rgb(15,15,15);
}

.border{
  border: 1px solid grey;
}

.flex-d{
  flex: wrap;
}

.flex-item{
  flex: 0 0 10%;
}
.flex-item2{
  flex: 0 0 18%;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-direction{
  flex-direction: row;
}
.align-i-cent{
  align-items: center;
}
.text-a-cent{
  text-align: center;
}
.b{
  font-weight: bolder;
}
.logo-img{
  margin: 0 auto;
}

.round-div{
  border-radius: 50%;
}

.light-shadow{
box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.no-decor{
  text-decoration: none;
}
