// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body{
  background-color: rgb(249,249,249);
  color: rgb(15,15,15);
}

li{
  list-style: none;
}

.margin{
  margin-top: 60px;
}

a:hover{
 text-decoration: none;
}

.flex{
  display: flex;
}

.space-b{
  justify-content: space-between;
}
.space-a{
  justify-content: space-around;
}

.btn-primary{
  background: #592222;
  border-color: #592222;
}

.btn-primary:hover{
  background: #682626;
  border-color: #682626;
}

.border{
  border: 1px solid grey;
}

.flex-d{
  flex: wrap;
}

.flex-item{
  flex: 0 0 11%;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-direction{
  flex-direction: row;
}
.align-i-cent{
  align-items: center;
}
.text-a-cent{
  text-align: center;
}
.b{
  font-weight: bolder;
}
.logo-img{
  margin: 0 auto;
}
