// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body{
  background-color: rgb(249,249,249);
  color: rgb(15,15,15);
}
.flex{
  display: flex;
  // justify-content:space-around;
}
.margin{
  margin-top: 60px;
}
